#BotonInicio{
    text-align:center;
    padding: 15px 20px 35px 15px;
    margin:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
}
#BotonSiguiente{
    text-align:center;
    padding: 15px 20px 35px 15px;
    margin:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
}
.Cuadro{
    text-align:center;
}

.Picture{
    opacity:0.3;
}
.Picture:hover{
    opacity:1 !important;
    transform:scale(1.1) !important;
}
.PictureC{
    opacity:0.3;
    background-color:black;
}

#pRockImg{
    background-image: url(images/rock.jpg);
    width: 400px;
    height:268px;
}
#pScissorsImg{
    background:url(images/scissors.jpg);
    width: 400px;
    height:268px;
}
#pPaperImg{
    background:url(images/paper.jpg);
    width: 400px;
    height:268px;
}

body{
    background: linear-gradient(0deg, #00906b, #004332, #2ab900, #aa2700);
    background-size: 800% 800%;

    -webkit-animation: AnimatedBackground 30s ease infinite;
    animation: AnimatedBackground 30s ease infinite;
}
h1{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
}

@-webkit-keyframes AnimatedBackground {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
    }
    @keyframes AnimatedBackground {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
    }