#BotonInicio{
    text-align:center;
    padding: 15px 20px 35px 15px;
    margin:10px 5px 10px 0px;
    font-family:'Franklin Gothic Medium';
    font-size:40px;    
}
#BotonSiguiente{
    text-align:center;
    padding: 15px 20px 35px 15px;
    margin:auto;
    font-family:'Franklin Gothic Medium';
    font-size:40px;
}
.Cuadro{
    text-align:center;
}
.Picture{
    opacity:0.3;
}
.Picture:hover{
    opacity:1 !important;
    transform:scale(1.1) !important;
}
.PictureC{
    opacity:0.3;
    background-color:black;
}

#pRockImg{
    background-image: url(images/rock.jpg);
    width: 279px;
    height:237px;
}
#pScissorsImg{
    background:url(images/scissors.jpg);
    width: 279px;
    height:237px; 
}
#pPaperImg{
    background:url(images/paper.jpg);
    width: 279px;
    height:237px; 
}

body{
    background: linear-gradient(270deg, #00ac88, #034ecc, #0ae6cb, #7f2121);
    background-size: 800% 800%;
    -webkit-animation: AnimatedBackground 30s ease infinite;
    animation: AnimatedBackground 30s ease infinite;
}
h1{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    margin:10px 0px 10px 0px;
}

@-webkit-keyframes AnimatedBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @keyframes AnimatedBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
    }

    @media (max-width:992px){
        #BotonInicio
        {
            font-size:30px;
        }
        #BotonSiguiente{
            font-size:30px;
        }
        h1{
            font-size:30px;
        }
        #pRockImg{
            width:210px;
            height:178px;
            background-size: 210px 178px
        }
        #pPaperImg{
            width:210px;
            height:178px;
            background-size: 210px 178px
        }
        #pScissorsImg{
            width:210px;
            height:178px;
            background-size: 210px 178px
        }
        .PictureC{
            width:210px;
            height:178px;
        }
    
    }

@media (max-width:768px){
    #BotonInicio
    {
        font-size:20px;
    }
    #BotonSiguiente{
        font-size:20px;
    }
    h1{
        font-size:20px;
    }
    #pRockImg{
        width:139px;
        height:118px;
        background-size: 139px 118px
    }
    #pPaperImg{
        width:139px;
        height:118px;
        background-size: 139px 118px
    }
    #pScissorsImg{
        width:139px;
        height:118px;
        background-size: 139px 118px
    }
    .PictureC{
        width:139px;
        height:118px;
    }

}